@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --header-background : #D9D9D9;
    --white : #FFFFFF;
    --orange : rgb(236, 128, 21);
    --light-orange : rgba(236, 128, 21, 0.781);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    /* outline: 2px solid red; */
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--white);
}

header {
    width: 100%;
    background-color: var(--header-background);
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .book-store-logo{
    text-decoration: none;
    color: #000;
}

header .nav-links{
    display: flex;
    list-style: none;
}

header .nav-links li {
    padding: 0px 100px;
}

header .nav-links li a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

header .profile {
    width: 50px;
    height: 50px;
    background-color: var(--light-orange);
    border: 2px solid var(--orange);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


main {
    width: 80%;
    padding: 20px;
    margin: 20px auto;
}

main .homepage-article{
    margin: 50px 0px;
    padding: 20px 0px;
}

main .homepage-article h1{
    font-size: 2.4rem;
    padding: 20px 0px;
}

main .homepage-article p {
    width: 90%;
    line-height: 2;
    font-size: 1.1rem;
}

main .search-books{
    width: 60%;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    position: relative;
}

main .search-books input {
    width: 90%;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1rem;
    border: none;
    outline: none;
    border: 0.5px solid var(--orange);
}

main .search-books .search-icon{
    background-color: var(--orange);
    padding: 20px 30px;
    font-size: 1.5rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

main .popular-category,
main .best-seller-category{
    margin: 50px 0px;
}

main .popular-category .popular-category-heading,
main .best-seller-category .best-seller-heading{
    padding: 15px 0px;
    font-size: 1.2rem;
    font-weight: 600;
}

.book-title{
    padding: 10px 0px;
    font-weight: 600;
}

.author{
    font-size: 0.9rem;
    color: gray;
}

main #popular-books,
main #best-seller-books{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

main .popular-book,
main .best-seller-book{
    width: 200px;
    margin: 0px auto;
}

.js-book-item{
    list-style: none;
}

main .popular-book img,
main .best-seller-book img{
    width: 100%;
    border-radius: 5px;
}


footer {
    width: 100%;
    height: 15rem;
    background-color: var(--light-orange);
}

/* ====================== Media Queries =========================== */
/* ====================== Mobile portrait ========================= */
@media(max-width:480px){

    header {
        padding:20px;
    }
    header .nav-links{
        display: none;
    }
    main {
        width: 95%;
        padding: 10px;
        margin: 20px auto;
    }

    main .homepage-article{
        margin: 20px 0px;
        padding:0px;
    }

    main .homepage-article h1{
        font-size: 2rem;
        padding: 20px 0px;
    }

    main .homepage-article p {
        width: 100%;
        line-height: 1.8;
        font-size: 1rem;
    }

    main .search-books{
        width: 100%;
        margin: 50px 0px;
    }

    main .search-books input {
        padding: 15px;
    }

    main .search-books .search-icon{
        padding: 15px 20px;
        font-size: 1.2rem;
    }

    main #popular-books,
    main #best-seller-books{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    main .popular-book,
    main .best-seller-book{
        width: 160px;
    }
}